<div layout:decorator="layout">
    <th:block layout:fragment="layout-content">
		<div class="row">
    		<div class="col-xs-offset-2 col-xs-8">
				 <form role="form" th:action="@{/question/update}" th:object="${questionForm}" method="post">
				    <div class="form-group">
				        <label for="content">質問内容</label>
				        <textarea th:field="*{content}" name="content" id="content" class="form-control"></textarea>
				        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></p>
				    </div>
				    
				    <p th:if="${#fields.hasErrors('choices')}" th:errors="*{choices}" class="text-danger"></p>
				    <div id="choice">
					    <div class="form-group" th:each="item : *{choices}">
				            <div class="input-group">
				                <input type="text" th:value="${item}" name="choices" class="form-control"/>
				                <span class="input-group-btn"><button class="btn btn-danger btnDelete" type="button">削除</button></span>
				            </div>
					    </div>
				    </div>
				    <div>
				    	<a href="javascript:void(0)" id="btnAdd">選択肢を追加する</a>
				    </div>
				    <div class="col-xs-offset-3 col-xs-6">
				    	<button type="submit" class="btn btn-success btn-block">登録</button>
				    </div>
				</form>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script>
		$(function(){
			var $item = $('<div class="form-group"><div class="input-group"><input type="text" name="choices" class="form-control"/><span class="input-group-btn"><button class="btn btn-danger btnDelete" type="button">削除</button></span></div></div>');
			
			// 選択肢追加ボタンクリック時
			$('#btnAdd').click(function(){
				$('#choice').append($item.clone());
			});
			
			// 削除ボタンクリック時
			$(document).on('click','button.btnDelete',function(){
				$(this).closest('div.form-group').remove();
			});
		});
		</script>
	</th:block>
</div>
