<div layout:decorator="layout">
    <th:block layout:fragment="layout-content">
        <div class="row">
	    	<div class="col-xs-offset-3 col-xs-6">
				<form role="form" th:action="@{/question/signin}" th:object="${signupForm}" method="post">
				    <div class="form-group">
				        <label for="path">OneQコード</label>
				        <input type="text" class="form-control" th:field="*{path}" name="path" id="path"/>
				        <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}" class="text-danger"></p>
				    </div>
				    <div class="form-group">
				        <label for="adminPass">管理パスワード</label>
				        <input type="password" th:field="*{adminPass}" class="form-control" name="adminPass" id="adminPass"/>
				        <p th:if="${#fields.hasErrors('adminPass')}" th:errors="*{adminPass}" class="text-danger"></p>
				    </div>
				    <div class="col-xs-offset-3 col-xs-6">
				    	<button type="submit" class="btn btn-success btn-block">サインイン</button>
				    </div>
				</form>
				
			</div>
		</div>
    </th:block>
</div>

	