<div layout:decorator="layout">
    <th:block layout:fragment="layout-content">
    <div class="row">
    		<div class="col-xs-offset-2 col-xs-8">
			    <div class="panel panel-default">
			        <div class="panel-heading">
			            <h3 class="panel-title">質問</h3>
			        </div>
			        <div class="panel-body" th:text="${question}" style="white-space: pre">
			        </div>
			    </div>
			    <form role="form" th:action="@{send}" th:object="${answerForm}" method="post">
			        <div class="checkbox" th:each="item : ${choices}">
			            <label>
			                <input type="checkbox" th:value="${item.key}" th:text="${item.value}" th:field="*{choices}"/>
			            </label>
			        </div>
			        <div class="col-xs-offset-3 col-xs-6">
				    	<button type="submit" class="btn btn-success btn-block">送信</button>
				    </div>
			    </form>
			</div>
		</div>
	</th:block>
</div>